# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/
.cache/

# =========================
# Environment files
# =========================
src/environments/*.local.ts
.env
.env.local

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing
# =========================
coverage/

# =========================
# Temporary files
# =========================
tmp/
temp/